base_url = '/ball'
base_url_global = 'https://acm.math.spbu.ru/ball'
vk_app_id = '12345'
vk_client_secret = 'secret'
google_client_id = '12345'
auth_salt = 'salt'

allowed_users = ['vk:12345']

config = {
    'db': { 'host': '127.0.0.1', 'user': 'ball', 'db': 'ball', 'passwd': 'password' },
    'web': { 'host': '127.0.0.1', 'port': 5100, 'debug': False }
}
