body {
  background-color: #ffffff;
  font: 12pt sans-serif;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow-y: scroll;
}
div {
  margin-top: 5px;
}
h1 {
  text-align: center;
  font: 24pt sans-serif;
  font-weight: bold;
}
h2 {
  text-align: center;
  font: 18pt sans-serif;
  font-weight: bold;
}
h3 {
  text-align: left;
  font: 14pt sans-serif;
  font-weight: bold;
}
a {
  color: #0080ff;
}

div.footer {
  margin-top: 30px;
  text-align: right;
}

td.balloons_problem_color {
  height: 50px;
  width: 25px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}
td.balloons_problem_letter {
  height: 50px;
  width: 50px;
  text-align: left;
  font-weight: bold;
}
td.balloons_balloon_color {
  width: 20px;
  border-style: solid;
  border-width: 1px;
}

tr.balloons_row {
  padding: 10px;
}

span.link {
  color: #0080ff;
}
span.link:hover {
  cursor: pointer;
}

table.pcms_standings {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-family: serif;
    max-width: 98vw;
}
th.pcms {
	background-color: #F9F9F0;
}
th.pcms_solved {
    text-align: center;
    width: 2em;
}
th.pcms_penalty {
    text-align: center;
    padding-right: 10pt;
    width: 2em;
}
th.pcms_party {
    text-align: left;
    padding-left: 10pt;
}
th.pcms_rankl {
    text-align: center;
    padding-left: 10pt;
    width: 2em;
}
th.pcms_problem {
    text-align: center;
    width: 2em;
}
td.pcms {
    text-align: center;
}
td.pcms_solved {
    text-align: right;
}
td.pcms_penalty {
    text-align: right;
    padding-right: 10pt;
}
td.pcms_party {
    text-align: left;
    padding-left: 10pt;
}
td.pcms_partyOther { /* not used? */
    text-align: left;
    padding-left: 10pt;
    color: grey;
}
td.pcms_rankl {
    text-align: right;
    padding-left: 10pt;
    padding-right: 10pt;
}
td.pcms_problem {
    text-align: center;
}
b.pcms {
    color: #c06060;
    font-weight: normal;
}
i.pcms {
    color: green;
    font-style: normal;
}
em.pcms {
    color: blue;
    background-color: yellow;
    font-style: normal;
}
i.pcms_fts {
    display: block;
    background-color: #c0ffc0;
    font-style: normal;
    width: 100%;
    height: 100%;
}
s.pcms {
    font-style: normal;
    text-decoration: none;
    font-size: x-small;
}
tr.pcms_row00 { background-color: #f8f8f8; }
tr.pcms_row01 { background-color: #ffffff; }
tr.pcms_row10 { background-color: #c8e8f8; }
tr.pcms_row11 { background-color: #d0f0ff; }

table.pcms_standings > thead { border-bottom: solid 1px silver; }
table.pcms_standings > tfoot { border-top:    solid 1px silver; }

