body {
  background-color: #ffffff;
  font: 12pt sans-serif;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow-y: scroll;
}
div {
  margin-top: 5px;
}
h1 {
  text-align: center;
  font: 24pt sans-serif;
  font-weight: bold;
}
h2 {
  text-align: center;
  font: 18pt sans-serif;
  font-weight: bold;
}
h3 {
  text-align: left;
  font: 14pt sans-serif;
  font-weight: bold;
}
a {
  color: #0080ff;
}

div.footer {
  margin-top: 30px;
  text-align: right;
}

td.balloons_problem_color {
  height: 50px;
  width: 25px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}
td.balloons_problem_letter {
  height: 50px;
  width: 50px;
  text-align: left;
  font-weight: bold;
}
td.balloons_balloon_color {
  width: 20px;
  border-style: solid;
  border-width: 1px;
}

tr.balloons_row {
  padding: 10px;
}
